body{

    background-color: rgb(54, 53, 48);
}

 #C0{
    margin-right: 500px;
    margin-left: 500px;
    background-color:rgb(20, 116, 119);
     color: black;
 }

 #hyperLinkPageTwo{
    background-color: royalblue;
    color: black;

 }